html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: hsl(200, 80%, 30%);
    background-color: radial-gradient(hsl(200, 80%, 30%), hsl(210, 80%, 20%));

    color: white;
    font-family: Exo 2, Helvetica, Arial, sans-serif;
    line-height: 1.4;
    margin: 0;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: Russo One, serif;
    font-weight: 400;
}

main {
    display: block;
}

img {
    max-width: 100%;
}

.page-header {
    margin: 0;
    padding: 1rem;
}

@media (min-width: 30em) {
    .page-header {
        padding: 2rem 2rem 3rem;
    }
}

.nav-links {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 1rem;
    list-style: none;
}

.nav-links > li + li {
    margin-left: .8em;
}

.nav-links > li > a {
    display: block;
    padding: .8em 0;
    color: white;
    font-size: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .06em;
}

.nav-links__icon {
    height: 1.5em;
    width: 1.5em;
    vertical-align: -.2em;
}

.nav-links > li > a:hover {
    color: hsl(40, 100%, 70%);
}

@media (min-width: 30em) {
    .main-nav {
        position: fixed;
        left: 0;
        top: 8.25rem;
        z-index: 10;
        background-color: transparent;
        transition: background-color .5s linear;
        border-top-right-radius: .5em;
        border-bottom-right-radius: .5em;
    }

    .main-nav:hover {
        background-color: rgba(0, 0, 0, .6);
    }
}

@media (min-width: 30em) {
    .nav-links {
        display: block;
        padding: 1em;
        margin-bottom: 0;
    }

    .nav-links > li + li {
        margin-left: 0;
    }

    .nav-links__label {
        margin-left: 1em;
        display: inline-block;
        margin-left: 1em;
        padding-right: 1em;
        opacity: 0;
        will-change: transform;
        transform: translate(-1em);
        transition: transform .4s cubic-bezier(.2, .9, .3, 1.3),
                    opacity .4s linear;
    }

    .nav-links:hover .nav-links__label,
    .nav-links:focus .nav-links__label {
        opacity: 1;
        transform: translate(0);
    }

    .nav-links > li:nth-child(2) .nav-links__label {
        transition-delay: .1s;
    }

    .nav-links > li:nth-child(3) .nav-links__label {
        transition-delay: .2s;
    }

    .nav-links > li:nth-child(4) .nav-links__label {
        transition-delay: .3s;
    }

    .nav-links > li:nth-child(5) .nav-links__label {
        transition-delay: .4s;
    }

    .nav-links__icon {
        transition: transform .2 ease-out;
    }

    .nav-links a:hover > .nav-links__icon,
    .nav-links a:focus > .nav-links__icon {
        transform: scale(1.3);
    }
}