/* Example 1 */

/*
button {
    background-color: hsl(180, 50%, 50%);
    border: 0;
    color: white;
    font-size: 1rem;
    padding: .3em 1em;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
}

button:hover {
    background-color: hsl(0, 50%, 50%);
    border-radius: 1em;
}
*/

/* Example 2 */

/*
.container {
    position: relative;
    height: 30px;
}

.box {
    position: absolute;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: hsl(130, 50%, 50%);
    transition: all 1s linear;
}

.container:hover .box {
    left: 400px;
}
*/

/* Example 3 */

.container {
    position: relative;
    height: 30px;
}

.box {
    position: absolute;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: hsl(130, 50%, 50%);
    transition: all 1s steps(3);
}

.container:hover .box {
    left: 400px;
}