:root {
    box-sizing: border-box;
    font-size: calc(1vw + .6em);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*
*   Ссылки
*/
a:link {
    color: #1476b8;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #1430b8;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #b81414;
}

/*
*   Шапка
*/
.page-header {
    padding: .4em 1em;
    background-color: #fff;
}

.title > h1 {
    color: #333;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: .2em 0;
}

.slogan {
    color: #888;
    font-size: .875rem;
    margin: 0;
}

/*
*   Hero-изображение
*/
.hero {
    padding: 2em 1em;
    text-align: center;
    background-image: url(coffee-beans.jpg);
    background-size: 100%;
    color: #fff;
    text-shadow: .1em .1em .3em #000;
}

/*
*   Основной раздел
*/
main {
    padding: 1em;
}

.subtitle {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: .875rem;
    text-transform: uppercase;
}